{{#if success_msg}}
  <div class="alert alert-success flash-msg--appear flash-msg--disappear">{{success_msg}}
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger flash-msg--appear flash-msg--disappear">{{error_msg}}
  </div>
{{/if}}
