
      {{>_navbar}}
<div class="container">
      {{>_errors}}
      {{>_msg}}
      {{{ body }}}  <!-- This is a built-in Variable from Handlebars it renders which ever file is being rendered in the app.get function. -->
</div>
      {{>_footer}}
