<div class="jumbotron text-center">
    <h1 class="display-3">{{{ page_name }}}</h1>
    <p class="lead">Plan and store your projects securely online. Create a <em>free account</em> and start savinf and planning your next big idea!</p>
    <a href="/idea/add"class="btn btn-dark btn-lg">Start a Project</a>
</div>
